@import "tailwindcss";

.hero {
  background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)),
    url(/hero.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-wrapper:hover .caption {
  margin-top: 0;
  transition: 0.5s ease;
}

.slick-slide > div {
  margin: 0 20px;
}

.slick-arrow.slick-next {
  border-radius: 50%;
  padding: 20px;
  text-align: center;
  z-index: 100;
  right: 0;
}

.slick-arrow.slick-prev {
  left: -20px;
  border-radius: 50%;
  padding: 20px;
  text-align: center;
  z-index: 1000;
}

/* arrows */
.slick-prev::before,
.slick-next::before {
  all: unset;
  background-color: #212ea0;
  color: black;
  padding: 15px;
  font-size: 29px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

@media screen and (min-width: 600px) and (max-width: 640px) {
  .slick-arrow.slick-prev {
    left: -8px;
  }
}

@media screen and (max-width: 600px) {
  .slick-arrow.slick-prev {
    left: -2%;
  }
  .slick-arrow.slick-next {
    right: -2%;
  }
  .slick-prev::before,
  .slick-next::before {
    padding: 10px;
    font-size: 20px;
  }
}
